*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}
a{
    text-decoration:none;
    color:#747577;
}
@font-face{
    font-family:Bodoni-72;
    src: url('../fonts/bodoni/Bodoni-72-OS.ttc')
}

/*//////////////////////  FRONT-PAGE /////////////////////////////*/
main{
    color:#747577;
}
main.front-page > div p{
    text-align: center;
}
main.front-page > div:nth-child(1){
    margin: 50px 15% 60px 15%;
}
main.front-page > div:nth-child(2){
    margin:  0px 10% 40px 10%;
}
main.front-page > div:nth-child(3){
    margin:  20px 10%;
}
main.front-page > div:nth-child(3) > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
main.front-page > div:nth-child(3) > div >div {
    margin: 10px auto;
}
main.front-page > div:nth-child(3) > div a {
    display: block;
}
main.front-page > div:nth-child(2) >div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
main.front-page > div:nth-child(2) >div >div{
    width:250px;
    margin: 10px 0px;
    font-family: 'PT Serif', serif;
}
main.front-page > div:nth-child(2) >div >div p{
    text-align: left;
    line-height: 24px;
    font-size: 14px;
    color: black;
}
main.front-page .map-container{
    height: 500px;
    width: 100%;
    background-color: #D8D8D8;
    margin: 20px auto; 
}


main.front-page h1, main.category-page h1{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    color: black;
    margin-bottom: 30px;
    font-size: 28px;
}
main.front-page h3{
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    letter-spacing: 1.50px;
}
main.front-page h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    width: 45px;
    left: 0px;
    border-top: 4px solid #00D6A7;
}
main.front-page .article-thumbnail{
    width:250px;
}
main h4,h3{
    margin-bottom: 5px;
    margin-top: 10px;
    color:black;
    font-weight: bold;
}


main.front-page .ong-logo{
    margin-bottom: 20px;
    
}
main.front-page .ong-logo + p{
    text-align: center;
    width:120px;
    padding-bottom: 20px;
    
} 

/*//////////////////////  CATEGORY-CONTINENTS /////////////////*/
main.category-page{
    margin:  20px 10%;
} 
main.category-page h1{
    margin-bottom:  30px ;

} 
main .etudes-list {
    margin-bottom: 50px;
}
main .etudes-list h3 {
    margin-bottom: 20px;
    margin-top: 0px;
}
.article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    
 }
 .article-list > div{
    width: 250px;  
    margin: 10px 0px;
 }
 .article-list > div > a > p{
    line-height: 24px;
 }
 main .etudes-list > div {
     
    border: 2px solid #00D6A7;
}
 main .etudes-list > div {
     display: flex;
     padding: 20px;
 }
 main .etudes-list .image-link {
    height:300px;
}
 main .etudes-list img {
    margin-right:10px;
    
}
 main .etudes-list a h4 {
      margin: 0px 0px 20px 0px;
 }

/*//////////////////////  Single /////////////////////////////*/
main.single-page .content,main.single-page .title{
    font-family: 'PT Serif', serif;
    margin: auto;
    max-width: 740px;
    color: black;
}
main.single-page .title{
    font-size: 38px;
    line-height: 40px; 
    margin-top: 60px;
    margin-bottom: 60px;
}
main.single-page .content{
   line-height: 40px;
   font-size: 18px;
}
main.single-page .thumbnail img{
    max-width:100%;
    margin:auto;
    display: block ;
    margin-top: 40px;
 }
.associated-ongs{
    max-width: 740px;
    margin: auto;
    margin-bottom: 40px;
} 
.associated-ongs > div{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 40px;
}    
.associated-ongs > div > .ong-logo{
    margin-bottom: 20px;
}
.associated-ongs > div > a{
    text-align: center;
    }



/*//////////////////////  HEADER /////////////////////////////*/
header{
    height: 100px;
    position: relative;
    box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.15);
    position: sticky;
    top:0px;
    background-color:white;
    display: flex;
    justify-content: flex-start; 
}
header .menu-header-container{
    height:inherit;
    width: 100%;

}
header .menu-header {
    display: flex;
    list-style: none;
    height: inherit;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.97px;
}

header .menu-header  a{
    color:black !important;
}
header .menu-header-container li{
    position: relative;
}
header .menu-header > li > a{
    padding: 5px;
}
header .menu-header > li > a::before  {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0px;
    left: 5px;
    border-top: 2px solid #00D6A7;
    transition: width 0.2s ease-in;
}
header .menu-header > li > a:hover:before {
    width: 40px;
}

.logo-underthemap{
    height:80px;
    margin: 10px;
    margin-left: 20px;
}
.logo-underthemap > img{
    height:80px;
}

header .sub-menu{
    position: absolute;
    list-style: none;
    background-color: white;
    width: 200%;
    left:0px;
    top:20px;
    z-index:1;

}

header .sub-menu li{
    
    overflow:hidden;
    max-height:0;
    border-bottom:1px solid transparent; 
    transition:max-height 500ms ease; 
}

header .sub-menu li a{
    padding: 20px 5px;
    display: block;
}
header .sub-menu li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 15px;
    width: 0px;
    left: 5px;
    border-top: 2px solid #00D6A7;
    transition: width 0.2s ease-in-out;
}
#responsive-menu-container a::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 15px;
    width: 0px;
    left: 5%;
    border-top: 2px solid #00D6A7;
    transition: width 0.2s ease-in-out;
}
#responsive-menu-container ul li ul li a::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    width: 0px;
    left: 10%;
    border-top: 2px solid #00D6A7;
    transition: width 0.2s ease-in-out;
}
header .sub-menu li a:hover:before, #responsive-menu-container a:hover:before {
    width: 40px;
}

header .menu-header-container li:hover > ul li{
    
    max-height:150px;
    border-bottom:1px solid rgba(0,0,0,0.15); 
    
}
#responsive-menu-container{
    text-transform: uppercase;
    letter-spacing: 1.97px;
    box-shadow: 2px 0 4px -2px rgba(0,0,0,0.15);
    z-index: 5000 !important;
}
.menu-item a{
    cursor: pointer;
}
#responsive-menu-button.is-active{
    display: none;
}
#responsive-menu-button{
    z-index:1 !important;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #747577;
    opacity: 0.4;
    z-index:2;
    display: none;
}









/*//////////////////////  FOOTER /////////////////////////////*/
footer{
    background-color: #010101;
    color: white;
    list-style: none;
    font-weight: 100;
    padding: 40px 40px 10px 40px;
}
footer a{
    color:inherit;
}
footer a:hover{
    color:lightgrey;
}
footer ul{
    list-style-type: none;
} 
.footer_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:40px;
}
.footer_list img{
    width:50px;
    height: 50px;
}
footer > p{
    text-align : center;
    font-size : 12px;
}


.footer_list > li > ul{
    padding-left: 5px; 
    font-size: 13px;
    padding-top: 5px;
  }
.footer_list > li > ul > li {
  padding: 5px;  
}
.footer_list > li > p{
    position: relative;
    padding-bottom: 5px;
}
.footer_list > li > p::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    left: 0%;
    border-top: 1px solid white;
}
.icon {
	position:relative;
    text-align:center;
    margin-right: 10px;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	cursor:pointer;
	background:white ;
	color:black;
	transition: 0.5s;	
}
.icon.social:hover {
	background:black ;
	color:white;
	transition: 0.5s;
}
.icon.social.fb i {
	left:11px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}
/*/////////////////////////// MEDIA QUERIES //////////////////////////////*/

@media screen and (max-width: 992px) {
    main.front-page > div:nth-child(2) >div, main.category-page .article-list{
        justify-content: space-evenly !important;
    }
    main.front-page > div:nth-child(3) >div{
        justify-content: space-evenly !important;
    }
    main.front-page > div:nth-child(2) >div > div, main.category-page .article-list >div {
        margin-right: 10px;
        margin-left:10px;
    }
    .logo-underthemap {
        margin: auto;
    }

  }

  @media screen and (max-width: 776px) {
    main .etudes-list > div {
        flex-wrap: wrap;
        padding: 10px;
    }
    main .etudes-list .image-link {
        margin:auto;
    }
    main .etudes-list .image-link > div{
        margin-left: -2px;
    }
    main .etudes-list > div > div:nth-child(2) {
        width:350px;
        margin: auto;
    }
    main .etudes-list h3 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    main .etudes-list img {
        margin-right:0px;
        width: 350px;
        
    }

  }

  @media screen and (max-width: 500px) {
    main .etudes-list > div > div:nth-child(2) {
        width:300px;
        
      }
      main .etudes-list img {
        width: 300px;
        
    }
    }